# vertual environment
week1/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data folder
data/

# Ignore TA_Lib-0.4.29-cp310-cp310-win_amd64.whl
TA_Lib-0.4.29-cp310-cp310-win_amd64.whl


